.git
.gitignore
.gitattributes
.env
.env.backup
.env.*
!.env.example
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
yarn-error.log
README.md
vendor
.idea
.vscode
.DS_Store
Thumbs.db
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
coverage
.phpunit.cache
